/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  font-family: 'Roboto';
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e4ebf3;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 20px;
  max-width: 90%;
}

.card-heading {
  font-size: 32px;
  color: #0b69ff;
}

.description {
  font-size: 22px;
  color: #333333;
  text-align: center;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.random-number {
  font-size: 34px;
  color: #0b69ff;
  font-weight: bold;
}
